*{
    transition : background-color 1s;
}

#button{
    text-decoration  : none;
    font-family      : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align       : center;
    font-size        : larger;
    display          : block;
    padding          : 5px 10px;
    width            : 150px;
    color            : white;
    border-radius    : 15px;
    transition       : background-color 1s, color 1s, transform 1s;     
}

#button:hover{
    cursor: pointer;
}
